<div class="col-8 offset-2">
	<%= simple_form_for @gram do |f| %>
		<%= f.input :message %>
		<br>
		Attach photo:
		<%= f.file_field :picture %>
		<br><br>
		<%= f.submit "Update", class: "my-btn" %>
	<% end %>
</div>